#header {
    transition: background-color 0.7s ease-in-out;
}

#header .navbar-nav a {
    font-size: 0.9em;
}

@media (max-width: 767px) {
    #header {
        background-color: var(--background-faded) !important;
    }

    #header .navbar-nav a.active {
        border-bottom: none;
    }
}