.modal-backdrop.show {
    opacity: .7;
}

.modal-content {
    background-color: var(--background-light);
    border-radius: 0;
    padding: 5px;
}

@media (min-width: 576px) {
    .modal-content {
        background-color: var(--background-light);
        border-radius: 0;
        padding: 10px;
    }
}

@media (min-width: 768px) {
    .modal-content {
        background-color: var(--background-light);
        border-radius: 0;
        padding: 20px;
    }
}


.modal-header {
    border: none;
}

.modal-header .close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    margin-left: 1rem;
}

.modal-footer {
    border: none;
}