@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    /*--accent-1: #C6070E;*/
    /*--accent-1: #d35e2a;*/
    --accent-1: #ffcd80;

    --accent-2: #B0030F;
    --accent-3: #850015;
    /*--accent-4: #57021B;*/
    /*--accent-4: #430000;*/
    --accent-4: #3c1414;


    /*--background: #000000;*/
    --background: #121212;
    --background-light: #212121;
    --background-faded: rgba(0, 0, 0, 0.9);

    --text-color-light: rgb(255, 255, 255);
    --text-color: rgb(214, 214, 214);
    --text-color-dark: rgb(157, 157, 157);

    --transparent: rgba(0, 0, 0, 0);
}

#root {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body, #root {
    min-height: 100vh;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: var(--text-color);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.dark-text {
    color: var(--text-color-dark);
}

.accent-text {
    color: var(--accent-1) !important;
}


/*   button   */
.btn {
    font-weight: 300;
    width: fit-content;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-group-sm>.btn, .btn-sm {
    border-radius: 0;
}

.btn-outline-accent {
    color: var(--text-color);
    border-color: var(--text-color-dark);
}

.btn-outline-accent:hover {
    color: var(--text-color);
    background-color: var(--accent-3);
    border-color: var(--text-color-dark);
}


/*   link   */
a:link, a:visited {
    color: var(--text-color);
}

a:hover {
    color: var(--text-color-light);
    text-decoration: none;
}

a:active {
    color: var(--text-color);
}
